.card {
  background-color: #ffffff;
  border-radius: 1.5rem;
  text-align: center;
  width: 18rem;
  height: 12rem;
  margin: 1rem;
  padding: 1rem 2rem;
  .card-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  .card-highlight {
    font-size: 5rem;
    font-weight: bold;
  }
  .card-text {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }
}

.card-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card.red {
  background-color: $red;
}

.card.brown {
  background-color: $brown;
}

.card.green {
  background-color: $green;
}
